// ! Объявление CSS переменных
:root {
  --accent-red: #fc443b;
  --accent-blue: #437fc8;
  --accent-green: #55bb9f;
  --light-blue: #7fb1ed;
  --text: #1e1e1e;
  --none: #999999;
  --bg: #142840;
  --bg-gradient: linear-gradient(20deg, #142840 0%, #1a467c 100%);
  --box-shadow: 0 0 20px 0 rgba(67, 127, 200, 0.15);
  --border: 1px solid #437fc8;
  --br5: 5px;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
// ! Использование CSS переменных
.link__example {
  color: var(--accent-red);
}

// ! Миксин для fancybox(video-popup), предотвращает ошибку gulp
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// ! Миксин для ограничения строк текста
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
// ! Использование миксина, вставляем непосредственно в тот селектор в котором хотим ограничить количество строк
.class__example {
  @include line-clamp(3);
}

// ! Шаблон для скрытия checkbox и radio buttons
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
// ! Использование шаблона
.checkbox__example {
  @extend %checkbox-hidden;
}

.radio__example {
  @extend %radio-hidden;
}

// ! Шаблон для Шрифта

%montserrat-300 {
  font-family: "Montserrat-Light", sans-serif;
  font-weight: 300;
}

%montserrat-400 {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

%montserrat-500 {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

%montserrat-600 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
}

%montserrat-700 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

%grotesq-400 {
  font-family: "BasisGrotesquePro-Regular", sans-serif;
  font-weight: 400;
}

%grotesq-500 {
  font-family: "BasisGrotesquePro-Medium", sans-serif;
  font-weight: 500;
}
// ! Использование шаблона
// @extend %font-name-400;
