.footer {
  &__wrap {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
  }

  &__contacts {
    max-width: 317px;
    width: 100%;
  }

  &__phone {
    font-size: 24px;
    font-weight: 600;
    color: var(--current-price);
    margin-bottom: 15px;
    display: inline-block;
    transition: color 0.5s ease;

    &:hover {
      color: var(--accent-red);
    }
  }

  &__messengers {
    margin-bottom: 45px;
  }

  &__messenger {
    &:hover {
      .footer__svg {
        fill: var(--accent-red);
      }
    }
  }

  &__svg {
    margin-right: 10px;
    fill: var(--line-through);
    transition: fill 0.5s ease;
  }

  &__text {
    font-size: 15px;
    color: var(--current-price);
  }

  &__address {
    font-style: normal;
  }

  &__nav {
    padding: 30px 0;
  }

  &__menus {
    display: flex;
    justify-content: space-between;
  }

  &__menu-items {
    max-width: 317px;
    width: 100%;

    .logo {
      margin-bottom: 10px;
    }
  }

  &__menu {
    max-width: 317px;
    width: 100%;
  }

  &__menu-link {
    font-size: 15px;
    line-height: 2.05;
    color: var(--text);
    transition: color 0.5s ease;

    &:hover {
      color: var(--accent-red);
    }
  }

  &__bottom {
    padding: 20px 15px;
    text-align: center;
    font-size: 13px;
    max-width: 1350px;
    margin: 0 auto;
  }
}
