<section class="blog">
  <div class="container">
    <h3 class="blog__title title">Новости и обзоры</h3>

    <div class="blog__inner">
      <ul class="blog__items">
        <li class="blog__item">
          <a class="blog__link" href="#">
            <h4 class="blog__item-title">Эффективная уборка без лишних проводов</h4>
            <div class="blog__item-text">Обзор на Робот-пылесос Xiaomi Mi Robot Vacuum Cleaner</div>
            <img class="blog__item-img" src="images/result/blog/1.png" alt="blog image">
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__item-link" href="#">
            <img class="blog__item-img" src="images/result/blog/2.jpg" alt="blog image">
            <span class="blog__item-descr">Как выбрать снегоуборщик</span>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__item-link" href="#">
            <img class="blog__item-img" src="images/result/blog/3.jpg" alt="blog image">
            <span class="blog__item-descr">Как выбрать стиральную машину</span>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__item-link" href="#">
            <img class="blog__item-img" src="images/result/blog/4.jpg" alt="blog image">
            <span class="blog__item-descr">Самая дорогая видеоигра в мире Cyberpunk 2077 для TV Samsung 4K QLED</span>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__item-link" href="#">
            <img class="blog__item-img" src="images/result/blog/5.jpg" alt="blog image">
            <span class="blog__item-descr">PlayStation 5: захватывающее обновление, на которое мы надеялись</span>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__item-link" href="#">
            <img class="blog__item-img" src="images/result/blog/6.jpg" alt="blog image">
            <span class="blog__item-descr">Путеводитель по покупкам: стоит ли покупать ноутбук или настольный
              компьютер?</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>