<section class="catalog">
  <div class="container">
    <h3 class="catalog__title title">Каталог</h3>

    <div class="catalog__inner">
      <ul class="catalog__list">
        <li class="catalog__item">
          <h4 class="catalog__item-title">Крупная бытовая техника</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Холодильники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
        <li class="catalog__item">
          <h4 class="catalog__item-title">Товары для дома</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Холодильники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>

        <li class="catalog__item">
          <h4 class="catalog__item-title">Мелкая бытовая техника</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Крепления и кронштейны для мелкой кухонной техники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
        <li class="catalog__item">
          <h4 class="catalog__item-title">Крупная бытовая техника</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Холодильники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
        <li class="catalog__item">
          <h4 class="catalog__item-title">Товары для дома</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Холодильники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
        <li class="catalog__item">
          <h4 class="catalog__item-title">Крупная бытовая техника</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Холодильники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
        <li class="catalog__item">
          <h4 class="catalog__item-title">Товары для дома</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Холодильники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
        <li class="catalog__item">
          <h4 class="catalog__item-title">Мелкая бытовая техника</h4>
          <ul class="catalog__items">
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Крепления и кронштейны для мелкой кухонной техники (135)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Морозильные камеры (74)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Стиральные машины (213)</a>
            </li>
            <li class="catalog__sub-item">
              <a class="catalog__item-link" href="#">Посудомоечные машины (98)</a>
            </li>
          </ul>
          <a href="#" class="catalog__link">
            Все товары
            <svg class='catalog__arrow' width='30' height='9'>
              <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>