<div class="footer__wrap">
  <div class="container">
    <nav class="footer__nav">
      <ul class="footer__menus">
        <li class="footer__menu-items">
          <div class="logo">
            <a class="logo__link" href="#">
              <img class="logo__img" src="images/result/logo.png" alt="logotype">
            </a>
          </div>

          <a class="footer__phone" href="tel:+74951509555">+7(495)150-95-55</a>

          <div class="footer__messengers">
            <a class="footer__messenger" href="#">
              <svg class='footer__svg' width='25' height='25'>
                <use xlink:href='images/result/sprite/sprite.svg#telegram'></use>
              </svg>
            </a>
            <a class="footer__messenger" href="#">
              <svg class='footer__svg' width='25' height='25'>
                <use xlink:href='images/result/sprite/sprite.svg#vk'></use>
              </svg>
            </a>
            <a class="footer__messenger" href="#">
              <svg class='footer__svg' width='25' height='25'>
                <use xlink:href='images/result/sprite/sprite.svg#viber'></use>
              </svg>
            </a>
            <a class="footer__messenger" href="#">
              <svg class='footer__svg' width='25' height='25'>
                <use xlink:href='images/result/sprite/sprite.svg#ok'></use>
              </svg>
            </a>
          </div>

          <div class="footer__text">
            <div class="footer__requisites">
              ООО "БТ МАРКЕТ", ИНН7728483067
            </div>
            <address class="footer__address">
              Москва, пр-д Соловьиный д. 2, ком. 1
            </address>
          </div>
        </li>

        <li class="footer__menu-items">
          <ul class="footer__menu">
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Как оформить заказ</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Доставка</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Оплата</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Прием товара</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Почему покупать у нас</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Подключение техники</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Отзывы о нас</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Пользовательское соглашение</a>
            </li>
          </ul>
        </li>

        <li class="footer__menu-items">
          <ul class="footer__menu">
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Контакты</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">О компании</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Юридическая информация</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Для поставщиков</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Для оптовых клиентов</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Оставить обращение</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Политика конфиденциальности</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Новости и обзоры</a>
            </li>
          </ul>
        </li>

        <li class="footer__menu-items">
          <ul class="footer__menu">
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Вопрос-ответ</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Дополнительный сервис</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Проверка на битые пиксели</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Утилизация техники</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Гарантийное обслуживание</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Сервисные центры</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Наши гарантии</a>
            </li>
            <li class="footer__item">
              <a class="footer__menu-link" href="#">Обмен и возврат товара</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="footer__bottom">
  <div class="footer__bottom-text">
    <p>
      Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при
      каких
      условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой
      положениями
      Статьи 437 Гражданского кодекса РФ.
    </p>
  </div>
  <div class="footer__copy">elecity.ru © 2011-2021</div>
</div>