<section class="popular">
  <div class="container">
    <h3 class="popular__title title">Популярное</h3>

    <div class="popular__inner">
      <ul class="product">
        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/1.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">14 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Водонагреватель Electrolux EWH 80 Formax
              </p>
            </div>
          </div>

          <div class="product__rating">
            <div class="product__rating-box">
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
            </div>

            <div class="product__reviews">13</div>
          </div>

          <a class="product__link-btn" href="#">Купить</a>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new"></span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/2.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">14 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Стиральная машина LG F-1096TD3
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
              </div>

              <div class="product__reviews">0</div>
            </div>

            <a class="product__link-btn absent" href="#">Нет в наличии</a>
          </div>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift">Подарок</span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/3.jpg" alt="Product">
            </a>
            <span class="product__discount"></span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">20 300 ₽</span>
              <span class="product__former-price"></span>
            </div>

            <div class="product__name">
              <p>
                Микроволновая печь WHIRLPOOL AMW 730 IX
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/4.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">6 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Телефизор BLACKTON 2402B
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>
      </ul>

      <ul class="product">
        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift">Подарок</span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/3.jpg" alt="Product">
            </a>
            <span class="product__discount"></span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">20 300 ₽</span>
              <span class="product__former-price"></span>
            </div>

            <div class="product__name">
              <p>
                Микроволновая печь WHIRLPOOL AMW 730 IX
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/1.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">14 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Водонагреватель Electrolux EWH 80 Formax
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/4.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">6 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Телефизор BLACKTON 2402B
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>
        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new"></span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/2.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">14 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Стиральная машина LG F-1096TD3
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
              </div>

              <div class="product__reviews">0</div>
            </div>

            <a class="product__link-btn absent" href="#">Нет в наличии</a>
          </div>
        </li>
      </ul>

      <div class="promo">
        <div class="promo__text-box">
          <h2 class="promo__title">AirPods Pro</h2>
          <div class="promo__text">Успей приобрести всего за <span>2590 ₽</span></div>
        </div>

        <img class="promo__img" src="images/result/products/head-phone.png" alt="">
      </div>

      <ul class="product">
        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/1.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">14 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Водонагреватель Electrolux EWH 80 Formax
              </p>
            </div>
          </div>

          <div class="product__rating">
            <div class="product__rating-box">
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
              <svg class='product__star' width='14' height='14'>
                <use xlink:href='images/result/sprite/sprite.svg#star'></use>
              </svg>
            </div>

            <div class="product__reviews">13</div>
          </div>

          <a class="product__link-btn" href="#">Купить</a>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new"></span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/2.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">14 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Стиральная машина LG F-1096TD3
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#empty-star'></use>
                </svg>
              </div>

              <div class="product__reviews">0</div>
            </div>

            <a class="product__link-btn absent" href="#">Нет в наличии</a>
          </div>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift">Подарок</span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/3.jpg" alt="Product">
            </a>
            <span class="product__discount"></span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">20 300 ₽</span>
              <span class="product__former-price"></span>
            </div>

            <div class="product__name">
              <p>
                Микроволновая печь WHIRLPOOL AMW 730 IX
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>

        <li class="product__item">
          <div class="product__img-box">
            <span class="product__new">Новинка</span>
            <span class="product__gift"></span>
            <a class="product__img-link" href="#">
              <img class="product__img" src="images/result/products/4.jpg" alt="Product">
            </a>
            <span class="product__discount">-20%</span>
          </div>

          <div class="product__text-box">
            <div class="product__price">
              <span class="product__current-price">6 300 ₽</span>
              <span class="product__former-price">18 000 ₽</span>
            </div>

            <div class="product__name">
              <p>
                Телефизор BLACKTON 2402B
              </p>
            </div>

            <div class="product__rating">
              <div class="product__rating-box">
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
                <svg class='product__star' width='14' height='14'>
                  <use xlink:href='images/result/sprite/sprite.svg#star'></use>
                </svg>
              </div>

              <div class="product__reviews">13</div>
            </div>

            <a class="product__link-btn" href="#">Купить</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>