<div class="slider">
  <div class="container">
    <div class="slider__inner">
      <ul class="slider__items">
        <li class="slider__item" style="background-image: url(images/result/header/pattern.png);">
          <div class="slider__wrap">
            <div class="slider__text-box">
              <h2 class="slider__title">Большой выбор стиральных машин</h2>
              <span class="slider__undertitle">Успей купить по суперцене</span>
              <a class="slider__link" href="#">Подробнее</a>
            </div>

            <img class="slider__content-img" src="images/result/header/technique.png" alt="technique">
          </div>
        </li>
        <li class="slider__item" style="background-image: url(images/result/header/pattern.png);">
          <div class="slider__wrap">
            <div class="slider__text-box">
              <h2 class="slider__title">Большой выбор стиральных машин</h2>
              <span class="slider__undertitle">Успей купить по суперцене</span>
              <a class="slider__link" href="#">Подробнее</a>
            </div>

            <img class="slider__content-img" src="images/result/header/technique.png" alt="technique">
          </div>
        </li>
        <li class="slider__item" style="background-image: url(images/result/header/pattern.png);">
          <div class="slider__wrap">
            <div class="slider__text-box">
              <h2 class="slider__title">Большой выбор стиральных машин</h2>
              <span class="slider__undertitle">Успей купить по суперцене</span>
              <a class="slider__link" href="#">Подробнее</a>
            </div>

            <img class="slider__content-img" src="images/result/header/technique.png" alt="technique">
          </div>
        </li>
        <li class="slider__item" style="background-image: url(images/result/header/pattern.png);">
          <div class="slider__wrap">
            <div class="slider__text-box">
              <h2 class="slider__title">Большой выбор стиральных машин</h2>
              <span class="slider__undertitle">Успей купить по суперцене</span>
              <a class="slider__link" href="#">Подробнее</a>
            </div>

            <img class="slider__content-img" src="images/result/header/technique.png" alt="technique">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>